## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Cayenne,GF,79.09,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
1,4,Rikitea,PF,78.66,scattered clouds,-23.1203,-134.9692,People ThankYou
2,6,Havelock,US,70.02,broken clouds,34.8791,-76.9013,Sherwood Motel
3,10,Bandarbeyla,SO,77.70,clear sky,9.4942,50.8122,JABIR HOTEL
4,11,Tougue,GN,79.83,broken clouds,11.4667,-11.6000,NaN
5,13,Monrovia,LR,79.03,broken clouds,6.3005,-10.7969,Sunset Inn
6,15,Atuona,PF,79.34,clear sky,-9.8000,-139.0333,Villa Enata
7,16,Vila Velha,BR,82.35,clear sky,-20.3297,-40.2925,Hotel Vitória Palace
8,21,Yulara,AU,71.44,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
9,24,Kahului,US,86.02,clear sky,20.8947,-156.4700,Maui Seaside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F<dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Lazaro Cardenas"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Lazaro Cardenas"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Apaseo El Grande"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Ixtapa"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Mixquiahuala" ]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
136,354,Lazaro Cardenas,MX,77.81,overcast clouds,17.9583,-102.2,HOTEL QUINTA ANTIGUA

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [8]:
start

array([  17.9583, -102.2   ])

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
direction_map = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(direction_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,354,Lazaro Cardenas,MX,77.81,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
1,487,Apaseo El Grande,MX,83.55,broken clouds,20.5667,-100.7000,Angel
2,69,Ixtapa,MX,74.23,clear sky,20.7000,-105.2000,hotel la terminal
3,458,Mixquiahuala,MX,84.13,clear sky,20.2333,-99.2167,Hotel Galeana

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptio</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.

four_cities = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:




# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=four_cities)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))